<!-- <html>
   <head><h1>Login Page</h1></head>
   <title>Testing login</title>
   <body>
      <form action = "http://127.0.0.1:5000/login" method = "POST">
         <p>Enter Name:</p>
         <p><input type = "text" name = "name" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html>   -->


<html>
   <head><h1>Insurance Charges Customer Details</h1></head>
   <body>
      <form action = "/result" method = "POST">
  
         <label>Enter Age:</label>
         <input type = "text" name = "age" placeholder="Enter Age"/></br></br>

         <label>Select Sex:</label>
         <input type="radio" name="sex"> Male
         <input type="radio" name="sex"> Female </br></br>

         <label>Enter BMI:</label>
         <input type = "text" name = "bmi" placeholder="Enter BMI"/></br></br>

         <label>Enter number of Children:</label>
         <input type = "text" name = "children" placeholder="Enter number of Children"/></br></br>

         <label>Smoker:</label>
         <input type="radio" name="smoker">Yes
         <input type="radio" name="smoker">No</br></br>

         <label>Select Region:</label>
         <select name = "region">
            <option> Select Region </option>
            <option> northeast </option>
            <option> northwest </option>
            <option> southeast </option>
            <option> southwest </option>
         </select></br></br>
         
         <input type = "submit" value = "submit" />
      </form>  
    
   </body>
</html>
